@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Windows Chrome ugly fix http://stackoverflow.com/questions/13674808/chrome-svg-font-rendering-breaks-layout/14345363#14345363 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'icomoon';
        src: url('../fonts/icomoon.svg#icomoon') format('svg');
    }
}

.nav-icon-team, .nav-icon-blog, .nav-icon-home, .nav-icon-portfolio, .nav-icon-services, .nav-icon-contact, .nav-icon-menu {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.nav-icon-team:before {
    content: "\e000";
}

.nav-icon-blog:before {
    content: "\e001";
}

.nav-icon-home:before {
    content: "\e002";
}

.nav-icon-portfolio:before {
    content: "\e003";
}

.nav-icon-services:before {
    content: "\e004";
}

.nav-icon-contact:before {
    content: "\e005";
}

.nav-icon-menu:before {
    content: "\f0c9";
}

a, li {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav.nav ul {
    max-width: 1240px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.5em;
    font-weight: 300;
}

nav.nav li span {
    display: block;
}

nav.nav a {
    display: block;
    color: rgba(249, 249, 249, .9);
    text-decoration: none;
    -webkit-transition: color .5s, background .5s, height .5s;
    -moz-transition: color .5s, background .5s, height .5s;
    -o-transition: color .5s, background .5s, height .5s;
    -ms-transition: color .5s, background .5s, height .5s;
    transition: color .5s, background .5s, height .5s;
}

nav.nav i{
    /* Make the font smoother for Chrome */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* Remove the blue Webkit background when element is tapped */

a, button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Hover effect for the whole navigation to make the hovered item stand out */

.no-touch nav.nav ul:hover a {
    color: rgba(249, 249, 249, .5);
}

.no-touch nav.nav ul:hover a:hover {
    color: rgba(249, 249, 249, 0.99);
}

/* Adding some background color to the different menu items */

nav.nav li:nth-child(6n+1) {
    background: rgb(208, 101, 3);
}

nav.nav li:nth-child(6n+2) {
    background: rgb(233, 147, 26);
}

nav.nav li:nth-child(6n+3) {
    background: rgb(22, 145, 190);
}

nav.nav li:nth-child(6n+4) {
    background: rgb(22, 107, 162);
}

nav.nav li:nth-child(6n+5) {
    background: rgb(27, 54, 71);
}

nav.nav li:nth-child(6n+6) {
    background: rgb(21, 40, 54);
}

/* For screen bigger than 800px */
@media (min-width: 50em) {

    /* Transforms the list into a horizontal navigation */
    nav.nav li {
        float: left;
        width: 16.66666666666667%;
        text-align: center;
        -webkit-transition: border .5s;
        -moz-transition: border .5s;
        -o-transition: border .5s;
        -ms-transition: border .5s;
        transition: border .5s;
    }

    nav.nav a {
        height: 86px;
        display: block;
        width: auto;
    }

    /* hover, focused and active effects that add a little colored border to the different items */
    .no-touch nav.nav li:nth-child(6n+1) a:hover,
    .no-touch nav.nav li:nth-child(6n+1) a:active,
    .no-touch nav.nav li:nth-child(6n+1) a:focus {
        border-bottom: 4px solid rgb(174, 78, 1);
    }

    .no-touch nav.nav li:nth-child(6n+2) a:hover,
    .no-touch nav.nav li:nth-child(6n+2) a:active,
    .no-touch nav.nav li:nth-child(6n+2) a:focus {
        border-bottom: 4px solid rgb(191, 117, 20);
    }

    .no-touch nav.nav li:nth-child(6n+3) a:hover,
    .no-touch nav.nav li:nth-child(6n+3) a:active,
    .no-touch nav.nav li:nth-child(6n+3) a:focus {
        border-bottom: 4px solid rgb(12, 110, 149);
    }

    .no-touch nav.nav li:nth-child(6n+4) a:hover,
    .no-touch nav.nav li:nth-child(6n+4) a:active,
    .no-touch nav.nav li:nth-child(6n+4) a:focus {
        border-bottom: 4px solid rgb(10, 75, 117);
    }

    .no-touch nav.nav li:nth-child(6n+5) a:hover,
    .no-touch nav.nav li:nth-child(6n+5) a:active,
    .no-touch nav.nav li:nth-child(6n+5) a:focus {
        border-bottom: 4px solid rgb(16, 34, 44);
    }

    .no-touch nav.nav li:nth-child(6n+6) a:hover,
    .no-touch nav.nav li:nth-child(6n+6) a:active,
    .no-touch nav.nav li:nth-child(6n+6) a:focus {
        border-bottom: 4px solid rgb(9, 18, 25);
    }

    /* Placing the icon */
    
    .nav-icon {
        padding-top: 10px;
    }

    .nav-icon + span {
        margin-top: 3px;
        -webkit-transition: margin .5s;
        -moz-transition: margin .5s;
        -o-transition: margin .5s;
        -ms-transition: margin .5s;
        transition: margin .5s;
    }

    .no-touch nav.nav a:hover ,
    nav.nav a:active ,
    nav.nav a:focus {
        height: 100px;
    }   

    /* Making the text follow the height animation */
    .no-touch nav.nav a:hover .nav-icon + span {
        margin-top: 3px;
        -webkit-transition: margin .5s;
        -moz-transition: margin .5s;
        -o-transition: margin .5s;
        -ms-transition: margin .5s;
        transition: margin .5s;
    }

    /* Positioning the icons and preparing for the animation*/
    nav.nav i {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        padding: 0.4em;
        border-radius: 50%;
        box-shadow: 0 0 0 30px transparent;
        background: rgba(255,255,255,0.1);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: box-shadow .6s ease-in-out;
        -moz-transition: box-shadow .6s ease-in-out;
        -o-transition: box-shadow .6s ease-in-out;
        -ms-transition: box-shadow .6s ease-in-out;
        transition: box-shadow .6s ease-in-out;
    }   
    
    /* Animate the box-shadow to create the effect */
    .no-touch nav.nav a:hover i,
    .no-touch nav.nav a:active i,
    .no-touch nav.nav a:focus i {
        box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
        -webkit-transition: box-shadow .4s ease-in-out;
        -moz-transition: box-shadow .4s ease-in-out;
        -o-transition: box-shadow .4s ease-in-out;
        -ms-transition: box-shadow .4s ease-in-out;
        transition: box-shadow .4s ease-in-out;
    }
    
}

@media (min-width: 50em) and (max-width: 61.250em) {

    /* Size and font adjustments to make it fit into the screen*/
    nav.nav ul {
        font-size: 1.2em;
    }

}

/* The "tablet" and "mobile" version */

@media (max-width: 49.938em) {      
    
    /* Instead of adding a border, we transition the background color */
    .no-touch nav.nav ul li:nth-child(6n+1) a:hover,
    .no-touch nav.nav ul li:nth-child(6n+1) a:active,
    .no-touch nav.nav ul li:nth-child(6n+1) a:focus {
        background: rgb(227, 119, 20);
    }

    .no-touch nav.nav li:nth-child(6n+2) a:hover,
    .no-touch nav.nav li:nth-child(6n+2) a:active,
    .no-touch nav.nav li:nth-child(6n+2) a:focus {
        background: rgb(245, 160, 41);
    }

    .no-touch nav.nav li:nth-child(6n+3) a:hover,
    .no-touch nav.nav li:nth-child(6n+3) a:active,
    .no-touch nav.nav li:nth-child(6n+3) a:focus {
        background: rgb(44, 168, 219);
    }

    .no-touch nav.nav li:nth-child(6n+4) a:hover,
    .no-touch nav.nav li:nth-child(6n+4) a:active,
    .no-touch nav.nav li:nth-child(6n+4) a:focus {
        background: rgb(31, 120, 176);
    }

    .no-touch nav.nav li:nth-child(6n+5) a:hover,
    .no-touch nav.nav li:nth-child(6n+5) a:active,
    .no-touch nav.nav li:nth-child(6n+5) a:focus {
        background: rgb(39, 70, 90);
    }

    .no-touch nav.nav li:nth-child(6n+6) a:hover,
    .no-touch nav.nav li:nth-child(6n+6) a:active,
    .no-touch nav.nav li:nth-child(6n+6) a:focus {
        background: rgb(32, 54, 68);
    }

    nav.nav ul li {
        -webkit-transition: background 0.5s;
        -moz-transition: background 0.5s;
        -o-transition: background 0.5s;
        -ms-transition: background 0.5s;
        transition: background 0.5s;
    }   

}

/* CSS specific to the 2x3 columns version */
@media (min-width:42.5em) and (max-width: 49.938em) {

    /* Creating the 2 column layout using floating elements once again */
    nav.nav li {
        display: block;
        float: left;
        width: 25%;
    }
    
    /* Adding some padding to make the elements look nicer*/
    nav.nav a {
        height: 45px;
    }

    /* Displaying the icons on the left, and the text on the right side using inlin-block*/
    nav.nav li span, 
    nav.nav li span.nav-icon {
        display: inline-block;
    }

    nav.nav li span.nav-icon {
        width: 25%;
    }

    nav.nav li .nav-icon + span {
        font-size: 1em;
    }

    .nav-icon + span {
        position: relative;
        top: -0.2em;
        margin-bottom: 12px;
    }

    /* Adaptating to the icons to animate the size and border of the rounded background in a more discreet way */
    nav.nav li i {
        display: inline-block;
        border: 4px solid transparent;
        border-radius: 50%;
        font-size: 1.5em;
        background: rgba(255,255,255,0.1);
        -webkit-transition: border .5s;
        -moz-transition: border .5s;
        -o-transition: border .5s;
        -ms-transition: border .5s;
        transition: border .5s;
    }

    /* Transition effect on the border color */
    .no-touch nav.nav li:hover i,
    .no-touch nav.nav li:active i,
    .no-touch nav.nav li:focus i {
        border: 4px solid rgba(255,255,255,0.1);
    }
}

/* Adapting the font size and width for smaller screns*/
@media (max-width: 42.5em) {
    nav.nav li{
        width: 33.3333333333%;
        float: left;
    }
    nav.nav li span{
        text-overflow: ellipsis;
    }

    nav.nav li .nav-icon + span {
        font-size: 0.9em;
    }
}

@media (min-width: 880px) and (max-width: 1024px){
    #container{
        width: 90% !important;
    }
}

@media (max-width: 880px){
    #container{
        width: 100% !important;
    }
}



div.jnotify-container {
    position: fixed; 
    top: 55px; 
    right: 0; 
    width: 300px; 
    z-index: 100000;
    
    /* set maximum number of notes to show */
    max-height: 270px;
    overflow-x: hidden;
    overflow-y: auto;
}

div.jnotify-container div.jnotify-notification {
    position: relative; 
    margin-bottom: 5px;
}

div.jnotify-container div.jnotify-notification div.jnotify-background {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background-color: #4c4c4c; 
    filter: alpha(opacity=90); 
    -moz-opacity: 0.90; 
    opacity: 0.90; 
    z-index: 1; 

    /* round the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

div.jnotify-container div.jnotify-notification a.jnotify-close,
div.jnotify-container div.jnotify-notification a.jnotify-close:link,
div.jnotify-container div.jnotify-notification a.jnotify-close:visited,
div.jnotify-container div.jnotify-notification a.jnotify-close:focus{
    position: absolute;
    top: 2px;
    right: 1px;
    padding: 0 5px;
    font: 16px Verdana,Arial,Helvetica,sans-serif;
    line-height: 1em;
    color: #F76F45;
    opacity: 0.6;
    text-decoration: none;
    z-index: 3;
    cursor: pointer;
}
div.jnotify-container div.jnotify-notification a.jnotify-close:hover{
    color: #FA2C45;
    opacity: 1;
}
div.jnotify-container div.jnotify-notification div.jnotify-message {
    position: relative; 
    z-index: 2; 
    padding: 20px;
    text-align: left;
    color: #fff;
    font: bold 18px Verdana,Arial,Helvetica,sans-serif;
    line-height: 1.2em; 
}

div.jnotify-container div.jnotify-notification div.jnotify-message * {
    font: inherit;
    font-size: 16px;
}

/* notification type == "error" */
div.jnotify-container div.jnotify-notification-error div.jnotify-background {
    background-color: #e4abb9; 
}

div.jnotify-container div.jnotify-notification-error div.jnotify-message {
    color: #a72947 !important;
}

/* notification type == "warning" */
div.jnotify-container div.jnotify-notification-warning div.jnotify-background {
    background-color: #fff7d1 !important; 
}

div.jnotify-container div.jnotify-notification-warning div.jnotify-message {
    color: #c2a928 !important;
}

/* notification type == "success" */
div.jnotify-container div.jnotify-notification-success div.jnotify-background {
    background-color: #90EE90 !important; 
}

div.jnotify-container div.jnotify-notification-success div.jnotify-message {
    color: #006400 !important;
}

/* notification type == "info" */
div.jnotify-container div.jnotify-notification-info div.jnotify-background {
    background-color: #57B7E2 !important; 
}

div.jnotify-container div.jnotify-notification-info div.jnotify-message {
    color: #FFF !important;
}