body, html {
    height: 100%;
    font-size: 100%;
    min-height: 600px;
    min-width: 1000px;
    line-height: 20px;
    background-color: #AFC2E4;
    padding: 0px;
    margin: 0 auto;
    overflow: hidden;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { 
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

body {
    max-width: 970px;
    font-family: Calibri, Arial, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #fff;
}
label{
    margin-bottom: 0px;
}

@media screen and (max-width: 25em) {
    .logo {
        font-size: 75%;
    }
}
.main {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 0px 10px;
    height: 30px;
}
.nav li {
    padding-left: 0px;
}
.logo span {
    display: block;
    color: #ceccc6;
    margin: 0;
    padding: 0px 0 0 30px;
    font-size: 25px;
}

.hide-element {
    display: none;
}
#container {
    background-color: #8CD175 !important;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
header {
    padding: 0px !important;
    background-color: #9971D0 !important;
    z-index: 1 !important;
    overflow: visible !important;
    border: 0 !important;
}
footer {
    padding: 0px !important;
    background-color: #297A3C !important;
    border: 0 !important;
}
#mainContent {
    z-index: 0 !important;
    background-color: transparent !important;
    border: 0 !important;
}
.logo{
    font-size: 1.5em;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
/* **Start Search Panel** */
#searchpanel{
    width: 35%;
    position: relative;
    z-index: 100;
}
    #searchpanel:focus{
        width: 60%;
    }
#searchbox{
    height: 24px;
    overflow: visible;
}
.reset {
    position: absolute;
    height: 18px;
    width: 18px;
    top: 3px;
    right: 6px;
    margin: 0;
    padding: 0;
    opacity: 0.3;
    z-index: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    background: url('/img/close.png');
    background-size: cover;
    -o-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition-property: opacity;
    -ms-transition-property: opacity;
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity;
}
.reset:hover{
    opacity: 0.8;
    background-color: #B03B77;
}
#searchinput {
    width: 100%;
    height: 24px;
    padding: 2px 18px 1px 22px;
    margin: auto 0;
    border: 0 none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius:  12px;
    background:#FFF url('/img/search.png') 3px center no-repeat;
    background-size: 16px 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -o-transition: color, text-shadow 0.3s, 0.3s;
    -ms-transition: color, text-shadow 0.3s, 0.3s;
    -moz-transition: color, text-shadow 0.3s, 0.3s;
    -webkit-transition: color, text-shadow 0.3s, 0.3s;
}
    #searchinput:focus{
        outline: none;
        box-shadow: 0 0 2px 2px rgba(82, 168, 236, 0.8);
    }
#searchresult{
    position: absolute;
    display: none;
    z-index: 100;
    background-color: rgba(255,250,240,0.7);
    padding: 10px 20px;
    margin: 16px 10px;
    line-height: 16px;
    width: 80%;
    max-width: 600px;
    opacity: 0.8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius:  12px;
    border: 1px solid rgb(210,188,142);
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}
    #searchresult ul {
        list-style: none;
        margin: 0;
    }
    #searchresult li{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
        #searchresult li:first-child {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }
        #searchresult li >span{
            width: 60%;
            margin: 0 auto;
            padding: 0;
            display: block;
            border-bottom: 2px solid #7C7E92;
            border-radius: 1px;
        }
.show-result {
    display: block !important; 

    color: #111;
    background: #fffAF0;
}
.callout {
    z-index: 120;
    position: absolute;
    top: -12px;
    border: 0;
    left: 20px;
}
/* **End Search Panel** */

#controlpanel{
    height: 24px;
    width: 100%;
    background-color: rgba(219,187,124, 0.8);
    margin-top: 10px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius:  16px;
}
    #controlpanel .btn{
        height: 24px;
    }
    #controlpanel .btn:first-child{
        -webkit-border-bottom-left-radius: 16px;
        border-bottom-left-radius: 16px;
        -moz-border-bottom-left-radius: 16px;
        -webkit-border-top-left-radius: 16px;
        border-top-left-radius: 16px;
        -moz-border-top-left-radius: 16px;
    }

#testnodelist {
    width: 100%;
}
    #testnodelist .list-item{
        margin: 10px 0 0 5px;
    }
        .list-item .item-header{
            margin-top: 2px;
            padding-bottom: 4px;
        }
        .list-item .item-header .ui-icon {
            float: right;
            margin-top: 3px;
        }
.ui-sortable-placeholder, .placeholder{
    border: 1px dashed #66afe9;
    visibility: visible !important;
}
    .ui-sortable-placeholder *,.placeholder * {
        visibility: hidden;
    }

.list-item [class*="col-"] {
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid #ddd;
}
form [class*="col-"] {
    padding-left: 0px;
    margin-top: 10px;
}
form label[class*="col-"]{
    padding-top: 5px;
}
.row {
    margin: 0;
    padding: 0;
}
.item-footer .btn{
    font-size: 12px;
}
#testnodelist>section{
    padding: 0px 5px;
}
.item-header [class*="col-"] {
    height: 24px;
}
#Messages p{
    font-family: Calibri, Arial, sans-serif;
    font-size: 14px;
    white-space: pre-wrap;
    line-height: 14px;
}
.item-header .btn{
    height: 24px;
    border-radius: 0;
}
.btn{
    border: 0 solid transparent;
}
#Links.row{
    font-size: 14px;
}
.window-overlay
{
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
    display:none;
    margin-bottom:50px;
}
    .window-overlay.in
    {
       display: block;
    }
    .window-overlay.in .modal
    {
        display: block;
        overflow: hidden;
        opacity: 1;
    }
.modal.fade .modal-dialog
{
    margin-top: 200px;
}
.row.form-group{
    width: 100%;
}
fieldset {
    
    border: 1px solid #ddd !important;
    padding: 0 2px 8px 10px !important;
    margin: 0 0 10px 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

textarea.form-control {
    resize: vertical;
    max-height: 100px;
}

    fieldset legend{
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
        margin-left: 20px;
        margin-bottom: 10px;
    }
.checkbox {
    margin-right: 4px !important;
}
.custom-tooltip{
    max-width: inherit !important;
    border-width: 1px !important;
    padding: 3px !important;
}
[ng-model=emailList] hr {
    margin: 4px 0;
}
.remove-email{
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    height: 20px;
    width: 20px;
    top: -3px;
    right: 8px;
    margin: 0;
    padding: 0;
    opacity: 0.3;
    z-index: 0;
    display: block;
    background-size: cover;
    cursor: pointer;
}
.remove-email:hover {
    opacity: 0.8;
    color: #E71C1C;
}
.ng-dirty.ng-invalid{
    border-color: #ff1313;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 107, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 107, 0.6);
}
.modal-body{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 700px;
}
 .dragable-item{
    padding: 5px 10px;
    margin-bottom: 0px;
    width:100% !important;
 }
 .dragable-item.selected{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);

 }
.dragable-container{
    border-radius: 4px;
    border: 1px solid #dddddd;
}
    .dragable-container .ui-sortable{
        margin-bottom: 0px;
    }
ul#selected-items, ul#available-items{
    min-height: 100%;
    width: 100%;
}
.slimScrollDiv{
    overflow: visible !important;
}
.dragable-container {
    overflow-x: visible !important;
}
.tab-content {
    border: 1px solid #ddd;
    border-top: none !important;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0 2px 8px 10px !important;
    margin: 0 0 10px 0 !important;
}
#input-new-script textarea{
    max-height: 200px !important;
    min-height: 180px !important;
}
.gridStyle {
    margin: 10px 3px 40px 3px;
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 400px;
    position: relative;
}
.ngToolbar button {
    padding: 5px 7px;
}
.ngColMenu.colSelector{
    z-index: 10;
}
.filter-box{
    display: inline;
    float: right;
    padding-right: 20px;

}
.ngColListItem label {
    margin-right: 20px;
}
span.log-links {
    line-height: 14px;
    display: list-item;
}
.log-links a{
    font-size: 13px;
    padding: 0 2px;
    text-decoration: underline;
    display: inline-block;
}
    .log-links a:hover{
        color: #428bca;
    }
div[ng-grid-menu]{
    min-height: 30px;
}
.break-word{
    white-space: pre-line;
    padding: 0;
}
.item-refresh{
    font-size: 14px;
    margin-top: 3px;
    margin-right: 3px;
    color: #72a7cf;
}
    .item-refresh:hover{
        color: #1A6AA7;
    }