<div id="CreateTaskDlg" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" ng-controller="CreateNewTaskCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="addTestTask" class="form-inline" role="form" mg-submit="save()" novalidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">Add New Test Task</h4>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="task-tabs">
            <li class="active"><a href="#create-test-task" data-toggle="tab">Test Task</a></li>
            <li class="dropdown">
              <a href="#" id="createScriptTaskDrop" class="pull-right dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
              <a class="pull-left" data-toggle="tab" href="#using-exist-script">Script Task</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="createScriptTaskDrop">
                <li><a href="#using-exist-script" tabindex="-1" data-toggle="tab">Using Existing Scripts</a></li>
                <li><a href="#input-new-script" tabindex="-1" data-toggle="tab">Input New Script</a></li>
              </ul>
            </li>
          </ul>
          <div class="tab-content" id="script-panels">
            <div class="tab-pane fade active in" id="create-test-task" ng-if="taskPane == 'create-test-task' ">
              <div class="row">
                <div class="col-md-4 form-group" ng-class="{'has-error': !addTestTask.Usedby.$pristine && addTestTask.Usedby.$error.required}">
                  <label for="Usedby" class="sr-only">Used By: </label>
                  <input type="text" id="Usedby" name="Usedby" class="form-control input-sm" ng-model="Usedby" data-need-tooltip placeholder="Used By" title="Used By"/>
                </div>
                <div class="col-md-4 form-group">
                  <label for="Projectname" class="sr-only">Project: </label>
                  <select class="form-control input-sm" id="Projectname" name="Projectname" ng-model="ProjectName" ng-options="pname.Value as pname.Label for pname in $root.ProjectNameEnum.toEnumList()" ng-init="ProjectName=$root.siteSetting.projectName">
                  </select>
                </div>
                <div class="col-md-4 form-group">
                  <label for="Tasktype" class="sr-only">Task Type: </label>
                  <select class="form-control input-sm" id="TaskType" name="Tasktype" ng-model="TaskType" ng-options="ttype.Value as ttype.Label for ttype in $root.TaskTypeEnum.toEnumList() | filter: taskTypeFilter" ng-init="TeskType = $root.siteSetting.taskType">
                  </select>
                </div>
              </div>
              <div class="row form-group" ng-class="{'has-error': !addTestTask.SvnUrl.$pristine && addTestTask.SvnUrl.$invalid}">
                <div class="col-md-12">
                  <label for="SvnUrl" class="control-label sr-only">SVN Url: </label>
                  <input type="text" class="form-control input-sm" id="SvnUrl" name="SvnUrl" ng-model="SvnUrl"  data-need-tooltip title="SVN Url of the testing branch" placeholder="SVN Url" required />
                  <span class="help-block" ng-show=" !addTestTask.SvnUrl.$pristine && addTestTask.SvnUrl.$invalid">Invalid url format!</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group" ng-class="{'has-error': !addTestTask.Revision.$pristine && addTestTask.Revision.$invalid}">
                  <label for="Revision" class="control-label sr-only">Revision: </label>
                  <input type="text" class="form-control input-sm" id="Revision" name="Revision" ng-model="Revision" ng-pattern='/HEAD|[r]\d{5,8}/' placeholder="Revision"  data-need-tooltip title="revision number of the SVN trunk or branch" required />
                  <span class="help-block" ng-show="!addTestTask.Revision.$pristine && addTestTask.Revision.$invalid">Please check revision number, it should be "HEAD" or "r1325" or "23481"</span>
                </div>
                <div class="col-md-6 form-group" ng-class="{'has-error': !addTestTask.LfsoRevision.$pristine && addTestTask.LfsoRevision.$invalid}">
                  <label for="LfsoRevision" class="control-label sr-only">LFSO Rev: </label>
                  <input type="text" class="form-control input-sm" id="LfsoRevision" name="LfsoRevision" ng-model="LfsoRevision" ng-pattern='/HEAD|[r]\d{5,8}/i' placeholder="LFSO Revision"  data-need-tooltip title="revision number of the LFSO used in the build and/or test" data-tooltip-pos="right" required />
                  <span class="help-block" ng-show="!addTestTask.LfsoRevision.$pristine && addTestTask.LfsoRevision.$invalid">Please check revision number, it should be "HEAD" or "r1325" or "23481"</span>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label for="Args" class="sr-only">Nunit Args: </label>
                  <input type="text" class="form-control input-sm" id="Args" name="Args" ng-model="Args" placeholder="Nunit Args"  data-need-tooltip title="Arguments to run the nunit tests"/>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label for="Message" class="sr-only">Message: </label>
                  <textarea id="Message" class="form-control input-sm" ng-model="Message" rows="3" placeholder="Message"></textarea>
                </div>
              </div>
            </div>
            <div class="tab-pane fade active in" id="using-exist-script" ng-if="taskPane == 'using-exist-script' ">
              <dragable-Selector ng-model="SelectedScripts"></dragable-Selector>
            </div>
            <div class="tab-pane fade active in" id="input-new-script" ng-if="taskPane == 'input-new-script' ">
              <div class="row form-group">
                <div class="col-md-4">
                  <select name="ScriptType" class="form-control" ng-model="ScriptType" ng-init="ScriptType = 0">
                    <option value="0">Batch Command</option>
                    <option value="1">VBScript</option>
                  </select>
                </div>
              </div>
              <div class="row form-group">
                <textarea class="form-control" ng-model="ScriptContent" required></textarea>
              </div>
            </div>
          </div>
          <fieldset class="node-selection" ng-init="RunAtAny = true">
            <legend>Test Node to Run the Task</legend>
            <test-node-selector data-select-all="false" run-at-any="RunAtAny" selected-test-nodes="SelectedTestNodes"></test-node-selector>
          </fieldset>
          <fieldset class="node-selection">
            <legend>Send Email After Task Finished</legend>
            <email-list ng-model="EmailList"></email-list>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button class="btn" type="submit" ng-click='save()' id="FinishBtn" ng-disabled="addTestTask.$invalid">OK</button>
          <button class="btn" type="reset" ng-click='reset()' id="ResetBtn" >Reset</button>
          <button class="btn" type="button" data-dismiss="modal" aria-hidden="true" ng-click='cancel()'>Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>