<div id="CreateTestTaskDlg" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" ng-controller="CreateNewTaskCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="addTestTask" class="form-inline" role="form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">Add New Test Task</h4>
        </div>
        <div class="modal-body">
          <fieldset class="test-info">
            <legend>Test Task Information</legend>
            <div class="row">
              <div class="col-md-4 form-group" ng-class="{'has-error': addTestTask.usedby.$error.required}">
                <label for="usedby" class="sr-only">Used By: </label>
                <input type="text" id="usedby" class="form-control input-sm" ng-model="usedBy" placeholder="Used By" required />
              </div>
              <div class="col-md-4 form-group">
                <label for="projectname" class="sr-only">Project: {{projectName}}</label>
                <select class="form-control input-sm" id="projectname" ng-model="projectName" ng-init="projectName = projectName">
                  <option ng-repeat="pname in $root.ProjectNameEnum.toEnumList()" value="{{pname.Value}}" title="{{pname.FullName}}">{{pname.Label}}</option>
                </select>
              </div>
              <div class="col-md-4 form-group">
                <label for="tasktype" class="sr-only">Task Type: {{tasktype}}</label>
                <select class="form-control input-sm" id="tasktype" ng-model="tasktype" ng-init="tasktype=tasktype">
                  <option ng-repeat="ttype in $root.TaskTypeEnum.toEnumList() | filter: testTypeFilter" value="{{ttype.Value}}">{{ttype.Label}}</option>
                </select>
              </div>
            </div>
            <div class="row form-group" ng-class="{'has-error': addTestTask.svnurl.$invalid}">
              <div class="col-md-12">
                <label for="svnurl" class="sr-only">SVN Url: </label>
                <input type="text" class="form-control input-sm" id="svnurl" ng-model="svnUrl" placeholder="SVN Url of the testing branch" required />
                <span class="help-block" ng-show="addTestTask.svnurl.$invalid">Invalid url format!</span>
            </div>
            <div class="row">
              <label for="revision" class="col-md-2 control-label">Revision: </label>
              <div class="col-md-4 form-group" ng-class="{'has-error': addTestTask.revision.$invalid}">
                <input type="text" class="form-control input-sm" id="revision" ng-model="revision" ng-pattern='/HEAD|[r]\d{5,8}/' placeholder="Revision" required />
                <span class="help-block" ng-show="addTestTask.lfsoRevision.$invalid">Please check revision number, it should be "HEAD" or "r1325" or "23481"</span>
              </div>
              <label for="lfsorevision" class="col-md-2 control-label">LFSO Rev: </label>
              <div class="col-md-4 form-group" ng-class="{'has-error': addTestTask.lfsoRevision.$invalid}">
                <input type="text" class="form-control input-sm" id="lfsorevision" ng-model="lfsoRevision" ng-pattern='/HEAD|[r]\d{5,8}/i' placeholder="LFSO Revision" required />
                <span class="help-block" ng-show="addTestTask.lfsoRevision.$invalid">Please check revision number, it should be "HEAD" or "r1325" or "23481"</span>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <label for="args" class="sr-only">Nunit Args: </label>
                <input type="text" class="form-control input-sm" id="args" ng-model="args" placeholder="Nunit Args"/>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <label for="message" class="sr-only">Message: </label>
                <textarea id="message" class="form-control input-sm" ng-model="message" rows="3" placeholder="Message" > </textarea>
              </div>
            </div>
          </fieldset>
          <fieldset class="node-selection">
            <legend>Test Node to Run the Task</legend>
            <test-node-selector data-select-all="false" data-run-at-any="true"></test-node-selector>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button class="btn" ng-click='save()' id="FinishBtn" ng-disabled="addTestTask.$invalid">OK</button>
          <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click='cancel()'>Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>