<section class="list-item alert-info ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ng-controller="TestNodeCtrl">
    <div class="item-header ui-widget-header ui-corner-all">
        <div class="row">
            <div class="col-md-4">
                <span id="TestNodeName" ng-model="nodeName"></span>
            </div>
            <div class="col-md-4">
                <span id="Status" ng-model="status"></span>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-xs" id="Operation">Lock/Release</button>
                <span class='ui-icon ui-icon-minusthick float-right hide-toggle'></span>
            </div>
        </div>
    </div>
    <div class="item-content">
       <div class="row">
           <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4" id="UserName" ng-model="userName"></div>
                    <div class="col-md-4" id="ProjectName" ng-model="projectName"></div>
                    <div class="col-md-4" id="TaskType" ng-model="taskType"></div>
                </div>
               <div class="row">
                   <div class="col-md-12" id="SvnUrl" ng-model="svnUrl">
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-12" id="TestArgs" ng-model="testArgs">
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-6" id="StartTime" ng-model="startTime">
                   </div>
                   <div class="col-md-6" id="FinishTime" ng-model="finishTime">
                    </div>
               </div>
           </div>
           <div class="col-md-4" id="Messages" ng-model="messages">
           </div>
       </div>
    </div>
    <div class="item-footer">
        <button type="button" class="btn btn-primary">Ok</button>
        <button type="button" class="btn btn-primary">Cancel</button>
    </div>
</section>