<div id="testnodeselector">
    <div class="row">
        <div class="form-group">
            <label class="control-label" for="runAtAny">Run at any idle test node</label>
            <div class="make-switch switch-small" data-on="Yes" data-off="No" data-animated="true">
                <input id="runAtAny" type="checkbox" ng-model="runAtAny" checked>
            </div>
        </div>
    </div>
    <div ng-show="!runAtAny">
        <div class="row">
            <div class="form-group col-md-3">
                <span>
                    <input type="checkbox" ng-model="selectAll" id="select-all" class="checkbox">{{ selectAll ? "Clear Select": "Select All"}}
                </span>
            </div>
            <div class="form-group col-md-3" ng-repeat="testnode in testNodes">
                <span>
                    <input type="checkbox" ng-model="testnode.selected" class="checkbox" ng-click="updateSelectedNodes()"/>{{testnode.name}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="enableExtraNodes">
                    </span>
                    <input type="text" class="form-control" data-need-tooltip ng-model="extraNodes" ng-disabled="!enableExtraNodes" data-toggle="tooltip" title="Split multi nodes by comma(,) or semicolon(;)" placeholder="Extra machines" ng-change="updateSelectedNodes()">
                </div>
            </div>
        </div>
    </div>
</div>